<div>
    <h2>EXCURSION IN PARIS</h2>
    <main>

        <div>
            {{#with program}}
            {{#with excursion}}
            <h1>{{name}}</h1>
            <ul>
                <li>
                    <div>{{location.city}}</div>
                </li>
                <li>
                    <div>{{location.country}}</div>
                </li>
                <li>
                    <div>{{date}}</div>
                </li>
            </ul>
            <hr>
            {{#each program}}
            <div>
                <h2>{{name}}</h2>
            </div>
            <ul>
                <li>
                    <div>{{type}} - ({{duration}})</div>
                </li>

            </ul>
            <hr>
            {{#with details}}
            {{#with museum}}
            <h3>{{name}}</h3>
            <ul>
                <li>{{location.address}}</li>
                <li>{{location.city}}</li>
                <li>
                    {{location.country}}
                </li>
            </ul>
            <hr>
            {{#each exhibits}}
            <h3>{{name}}</h3>
            <ul>
                <li>{{artist}}</li><br>
                <li>{{description}}</li><br>
                <li>{{audio_guide}}</li><br>
            </ul>
            <hr>
            {{/each}}
            {{/with}}
            {{#with venue}}
            <ul>
                <li>{{name}}</li>
                <liv>{{location.address}}</li>
                    <li>{{location.city}}</li>
                    <li>{{location.country}}</li>
            </ul>
            <hr>
            {{/with}}
            {{#each performers}}
            <div>
                <ul>
                    <h4>{{name}}</h4>
            </div><br>
            <li>{{type}}</li>
            </ul>
            <hr>

            {{/each}}
            {{#with guide}}
            <ul>
                <li>
                    <div>{{name}}</div><br>
                </li>
                <li></li>
                <div>{{language}}</div><br></li>
                <li>
                    <div>{{rating}}</div><br>
                </li>
            </ul>
            <hr>
            {{/with}}
            {{/with}}
            {{/each}}
            {{/with}}
            {{/with}}

    </main>
</div>