<main>
    {{#with page_header}}
    <h1 class="text-center"> {{title}}</h1>
    <p class="text-center text-uppercase">{{description}} </p>
    {{/with}}
    {{#with section}}
    <div class="card">
        <div class="card-body">
            {{#with about_us}}
            {{#with title_list}}
            <div class="display-6 text-end">
                {{main}}
            </div>
            <h2 class="text-end">{{sub}}</h2>
            {{/with}}
            <button class="btn btn-outline-info">{{button.text}}</button>
            {{/with}}
        </div>
    </div>
    <br>

    <div class="card">
        <div class="card-body">
            {{#with advantage}}
            <div class="display-5 text-muted"> {{title}}</div>
            <br>
            <div class="card">
                <div class="card-body">
                    {{#with efficiency}}
                    <div class="display-4 text-muted"> {{title}}</div>
                    <br>
                    <h6>{{sub_title}}</h6>
                    <p>{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>

            <br>

            <div class="card">
                <div class="card-body">
                    {{#with innovation}}
                    <div class="display-4 text-muted text-center"> {{title}}</div>
                    <br>
                    <h6 class="text-center">{{sub_title}}</h6>
                    <p class="text-center">{{description}}</p>
                    <button class="btn btn-outline-warning">{{button}}</button>
                    {{/with}}
                </div>
            </div>
        </div>

        <br>

        <div class="card">
            <div class="card-body">
                {{#with collaboration}}
                <div class="display-4 text-muted text-end"> {{title}}</div>
                <br>
                <h6 class="text-end">{{sub_title}}</h6>
                <p class="text-end">{{description}}</p>
                <button class="btn btn-outline-warning">{{button}}</button>
                {{/with}}
            </div>
        </div>
    </div>
    <br>
    {{/with}}
    <div class="card">
        <div class="card-body">
            {{#with agreement}}
            <div class="display-5"> {{title}}</div>
            <br>
            {{#with info}}
            <h5>{{sub_title}}</h5>
            <div class="card">
                <div class="card-body">
                    <p>{{detail.text}}</p>
                    <button class="btn btn-success">{{detail.button}}</button>
                </div>
            </div>
            {{/with}}
            {{/with}}
        </div>
    </div>
    {{/with}}
</main>