<div>
    <h2>WEB</h2>
    <main>

        <div>
            {{#with web}}
            {{#each languages}}
            <div>
                <h1>{{name}}</h1>
            </div>
            <div>
                <h3>{{version}}</h3>
            </div>
            <div>
                <p>{{description}}</p>
            </div>
            <hr>
            {{#each elements}}
            <ul>
                <li>
                    <div>
                        <h3>{{name}}</h3>
                    </div>
                </li>
                <div>
                    <p>{{description}}</p>
                </div>
            </ul>
            <hr>
            {{#each attributes}}
            <ul>
                <li>
                    <div>
                        <h3>{{name}}</h3>
                </li>
        </div>
        <div>
            <p>{{description}}</p>
        </div>
        </ul>
        <hr>
        {{/each}}
        {{/each}}
        {{#each properties}}
        <ul>
            <li>
                <div>
                    <h3> {{name}}</h3>
                </div>
            </li>
            <div>
                <p>{{description}}</p>
            </div>
        </ul>
        <hr>
        {{#each values}}
        <ul>
            <li>
                <div>
                    <h4>{{value}}</h4>
            </li>
</div>
<div>
    <p>{{description}}</p>
</div>
</ul>
<hr>
{{/each}}
{{/each}}
{{/each}}
{{/with}}

</main>
</div>